.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
.DS_Store
analysis/figure
analysis/*png
analysis/*_cache
analysis/site_libs
Evaluate.OUT
FreshWt.OUT
INFO.OUT
Leaves.OUT
Measured.OUT
MgmtEvent.OUT
MgmtOps.OUT
Mulch.OUT
Needhelp.R
OVERVIEW.OUT
PlantGr2.OUT
PlantGrf.OUT
PlantGro.OUT
Plantsum.OUT
SoilCBal.OUT
SoilCBalSum.OUT
SoilOrg.OUT
SoilTemp.OUT
SoilWat.OUT
SoilWatBal.OUT
Summary.OUT
Tiers.OUT
WARNING.OUT
Weather.OUT
